!!!
html
  head
    title= title
    //- Stylesheet
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    //- Add jQuery
    script(src='/javascripts/jquery-1.7.2.min.js')
    //- Add Twitter Bootstrap
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap-responsive.min.css')
    script(src='/javascripts/bootstrap.min.js')
    //- Add socket.io
    script(src='http://localhost:8080/socket.io/socket.io.js')

  body
    a(href='https://github.com/optikfluffel/coffee-resque-demo')
      img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png', alt='Fork me on GitHub')
    .container
      header
        .page-header
          h1 Coffee-Resque-Demo

      section
        != body