!!!
html
  head
    title= title
    //- Stylesheets
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    //- Add jQuery
    script(src='/javascripts/jquery-1.7.2.min.js')

  body
    != body