h2 The Queue

.row
  .span2
    form(action='/add', method='post')
      button.btn.full-width Add new Job
    form(action='/start', method='post')
      button.btn.btn-success.full-width Start Worker

  .span5
    table.table.table-bordered.table-striped
      thead
        tr
          th # in Queue
          th Kind of Job
          th Status
      tbody
        tr
          td Cupcake
          td ipsum
          td dolor sit

script(src='/javascripts/socket.io.js')
script
  var socket = io.connect('http://localhost:8080');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
