h2 Welcome
p
  | Hi I’m 
  a(href='https://github.com/optikfluffel') optikfluffel
  |  and I welcome you to my little Coffee-Resque Demo.
p.lead
  | I did this because I wanted to understand how to use 
  a(href='https://github.com/technoweenie/coffee-resque') Coffee-Resque
  |  together with 
  a(href='http://nodejs.org') node.js 
  |  and 
  a(href='http://expressjs.com') express.js
  | .
p
  | It turned out to be pretty easy so I decided to make it public and let everyone have a look :)
