h1 Welcome to the Coffee-Resque-Demo

//- TODO: Add some 'real' text
//- right now it's awesome sweet stuff from http://cupcakeipsum.com
p
  | Cupcake ipsum dolor sit amet faworki bonbon halvah jujubes. Dessert jelly-o sweet muffin biscuit. Chocolate carrot cake chocolate I love pie. Jujubes lollipop croissant jujubes croissant topping gummies.
  | Ice cream applicake brownie. Carrot cake tart ice cream. Ice cream I love pastry.
  | Gummies I love chocolate bar applicake. I love sugar plum tart. Carrot cake chocolate chupa chups macaroon cheesecake tiramisu. Sweet gingerbread lollipop.